*{
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.game-board{
    width: 500px;
    height: 500px;
}

.board{
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

td {
    height: 30%;
    width: 30%;
    border: 1px solid black;
}

